# http://editorconfig.org
root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md,*.yml,*.js]
indent_size = 2
tab_width = 2

[*.rs,*.fathom]
indent_size = 4
tab_width = 4
