body {
    font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
        "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4;
    padding: 2em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

dl.items > dt.item,
dl.fields > dt.field,
dd.alias > section.term {
    border-top: 1px solid #eee;
    padding: 0.5em 0 0.5em 0;
}

dl.items > dd.item,
dl.fields > dd.field {
    margin-left: 2em;
    margin-bottom: 1em;
}

section.doc {
    margin-bottom: 1em;
}
